@if (User.Identity.IsAuthenticated)
{

        <a class="nav-link nav-login" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        <a class="nav-link nav-login" asp-area="" asp-controller="Account" asp-action="Logout">sign out</a>

}
else
{

    <form asp-page="/Account/ExternalLogin" asp-route-returnUrl="/Home/Index" asp-route-provider="Microsoft" method="post">
        <button id="submit-button" type="submit" name="provider" value="Microsoft" title="Log in using your Microsoft account" style="display: none">Microsoft</button>
        <span id="submit-span" onclick="clickButton()" class="nav-link nav-login">Sign in</span>
    </form>
    <script>
        function clickButton() {
            document.getElementById('submit-button').click();
        }
    </script>
}