
<div id="result">
    @ViewData["Result"]
</div>

<div id="container">
    <div style="visibility: hidden">
        <select id="videoSource"></select>
    </div>

    <div style="text-align:center;">
        <video id="screenshot-video" muted="" autoplay=""></video>
        <img id="screenshot-img">
        <input type="button" id="btnSave" value="Save Drawing" onclick="Capture();" />
        <canvas id="cancas"style="display:none;"></canvas>
    </div>
    
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
        function Capture() {
            document.getElementById('btnSave').disabled = true; 

            var canvas = document.getElementById('cancas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            var dataStramInput = canvas.toDataURL('image/jpg');

            var today = new Date();
            var date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
            var time = today.getHours() + "-" + today.getMinutes() + "-" + today.getSeconds();
            var currentTime = date + ' ' + time;

            $.ajax({
                type: 'POST',
                url: "Face/Capture?time=" + currentTime,
                data: dataStramInput,
                contentType: 'application/json; charset=utf-8',
                dataType: 'text'
            }).done(function (capturedImagePath) {
                window.location.href = '/Face/Result?capturedImage=' + capturedImagePath;
            });
        }
    </script>

    <script>
        var videoElement = document.querySelector('video');
        var videoSelect = document.querySelector('#videoSource');
        var img = document.querySelector('#screenshot-img');
        var video = document.querySelector('#screenshot-video');

        navigator.mediaDevices.enumerateDevices()
            .then(gotDevices).then(getStream).catch(handleError);

        videoSelect.onchange = getStream;

        function gotDevices(deviceInfos) {
            for (var i = 0; i !== deviceInfos.length; ++i) {
                var deviceInfo = deviceInfos[i];
                var option = document.createElement('option');
                option.value = deviceInfo.deviceId;
                if (deviceInfo.kind === 'videoinput') {
                    option.text = deviceInfo.label || 'camera ' +
                        (videoSelect.length + 1);
                    videoSelect.appendChild(option);
                }
            }
        }

        function getStream() {
            if (window.stream) {
                window.stream.getTracks().forEach(function (track) {
                    track.stop();
                });
            }

            var constraints = {
                video: {
                    deviceId: { exact: videoSelect.value }
                }
            };

            navigator.mediaDevices.getUserMedia(constraints).
                then(gotStream).catch(handleError);
        }

        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            videoElement.srcObject = stream;
        }

        function handleError(error) {
            console.error('Error: ', error);
        }
    </script>
</div>
