@using SecureShare.Website.ViewModels
@model FaceData

<form asp-action="Authentication">
    Live Camera
    <div id="webcam"></div>
    <input asp-for="PathToCamPic" value=@ViewData["CapturedImage"] class="form-control" style="visibility: hidden;" />

    <div class="form-group">
        <button type="submit" class="text-uppercase form-control">Authenticate</button>
    </div>
</form>



<script type="text/javascript">
    $(document).ready(function () {
        window.jQuery("#webcam").webcam({
            width: 320,
            height: 240,
            mode: "save"
        });
    });
</script>  