<div id="webcam"></div>
<br />
<input type="button" value="Capture" onclick="Capture();" />
<br />
<div id="result" style="visibility: hidden">
    @ViewData["Result"]
</div>


@section Scripts
{
<script>
     jQuery("#webcam").webcam({
         width: 320,
         height: 240,
         mode: "save",
         swffile: "/jQuery-webcam-1.0.0/jscam.swf",
         // canvas only doesn't implement a jpeg encoder, so the file is much smaller
         
         onCapture: function() {
             webcam.save('/Face/Authentication');
         }
    });
     function Capture() {
         webcam.capture();
     }
 </script>}
