<link rel="stylesheet" href="~/css/about.css" />




<div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" ">
    <h1 class="display-4">About SecureShare </h1>
    <p class="lead">Sync, Store, Share ... Securely with SecureShare! </p>
</div>

<!--******** Over secureshare *******-->
<div class="container">

    <div class="row">
        <div class="col-md-3 mt-4" style="background-image:url(/images/SecureShareLogo2.png);background-size: 90% 100%; background-repeat:no-repeat; ">

        </div>
        <div class="col-md-9 mt-4 text-center">
            <p>
                The mission of SecureShare is to develop innovative cloud solutions that enable our clients to share information securely and collaborate more effectively.
                At SecureShare, we recognize that all customers are unique. The data that drives their business is different, as is the way they interact with that data on a daily basis, and in the way they use that data to collaborate with others.
                With that in mind, SecureShare developed a cloud portfolio driven by choice. Launched in 2018, SecureShare is unique in the market.
                Innovative clouds solutions … focused on needs … driven by choice.
                That’s the SecureShare way!
            </p>
        </div>
    </div>
</div>

<!--Break-->
<br />

<div class="aboutus-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" ">
    <h1 class="display-4">Meet the Team  </h1>
    <p class="lead">International Collaboration</p>
</div>

<!--******** meet the team *******-->

<div class="container">
    <div class="card-deck mb-3 text-center">

        <!--member Alexander-->
        <div class="card mt-4" style="border:none;">
            <img class="rounded-circle img-fluid align-self-center" src="~/images/avatar.png" alt="Alexander image" style="height:200px; width:200px;">
            <div class="card-body">
                <h4 class="card-title">Alexander Frolov</h4>
            </div>
            <div class="overlay rounded-circle img-fluid align-self-center">
                <div class="text">Stakeholder</div>
            </div>
        </div>

        <!--member Joep-->
        <div class="card mt-4" style="border:none;">
            <img class="rounded-circle img-fluid align-self-center" src="~/images/joep.jpg" alt="Joep image" style="height:200px; width:200px;">
            <div class="card-body">
                <h4 class="card-title">Joep Mulder</h4>
            </div>
            <div class="overlay rounded-circle img-fluid align-self-center">
                <div class="text">Developer</div>
            </div>
        </div>

        <!--member Jordi-->
        <div class="card mt-4" style="border:none;">
            <img class="rounded-circle img-fluid align-self-center" src="~/images/jordi.jpg" alt="Jordi image" style="height:200px; width:200px;">
            <div class="card-body">
                <h4 class="card-title">Jordi Samson</h4>
            </div>
            <div class="overlay rounded-circle img-fluid align-self-center">
                <div class="text">Developer</div>
            </div>
        </div>

        <!--member Mikhail-->
        <div class="card mt-4" style="border:none;">
            <img class="rounded-circle img-fluid align-self-center" src="~/images/avatar.png" alt="Mikhail image" style="height:200px; width:200px;">
            <div class="card-body">
                <h4 class="card-title">Mikhail Mazurovsky</h4>
            </div>
            <div class="overlay rounded-circle img-fluid align-self-center">
                <div class="text">Stakeholder</div>
            </div>
        </div>

    </div>

    <div class="card-deck mb-3 text-center">

        <!--member Niels-->
        <div class="card mt-4" style="border:none;">
            <img class="rounded-circle img-fluid align-self-center" src="~/images/niels.jpg" alt="Niels image" style="height:200px; width:200px;">
            <div class="card-body">
                <h4 class="card-title">Niels Witte</h4>


            </div>
            <div class="overlay rounded-circle img-fluid align-self-center">
                <div class="text">Developer</div>
            </div>
        </div>

        <!--member Raines-->
        <div class="card mt-4" style="border:none;">
            <img class="rounded-circle img-fluid align-self-center" src="~/images/raines.jpg" alt="Raines image" style="height:200px; width:200px;">
            <div class="card-body">
                <h4 class="card-title">Raines Emerenciana</h4>
            </div>
            <div class="overlay rounded-circle img-fluid align-self-center">
                <div class="text">Developer</div>
            </div>
        </div>

        <!--member Sava-->
        <div class="card mt-4" style="border:none;">
            <img class="rounded-circle img-fluid align-self-center" src="~/images/sava.jpg" alt="Sava image" style="height:200px; width:200px;">
            <div class="card-body">
                <h4 class="card-title">Sava Sharif</h4>
            </div>
            <div class="overlay rounded-circle img-fluid align-self-center">
                <div class="text">Developer</div>
            </div>
        </div>

        <!--member Sofia-->
        <div class="card mt-4" style="border:none;">
            <img class="rounded-circle img-fluid align-self-center" src="~/images/sofia.jpg" alt="Sofia image" style="height:200px; width:200px;">
            <div class="card-body">
                <h4 class="card-title">Sofia Kaliazina</h4>
            </div>
            <div class="overlay rounded-circle img-fluid align-self-center">
                <div class="text">Stakeholder</div>
            </div>
        </div>

    </div>
</div>

