<link rel="stylesheet" href="~/css/index.css"/>


<div class="overflow-hidden p-3 p-md-5  text-center" style="background-image: url('../images/pexels-photo-355770.jpeg'); background-size: 100% 100%;">

    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-5 font-weight-normal">Upload your files in the cloud</h1>
        <p class="lead font-weight-normal">Access your files and share them with anyone.</p>
        <a class="btn btn-light" href="#">
            <div>
                <div class="col-md-3" style="display: inline;">
                    <img src="~/images/microsoftlogo-transparent.png" style="width: 5%; height: 5%;"/>
                </div>
                <div class="col-md-9" style="display: inline;">
                    Get started
                </div>
            </div>
        </a>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Access your files on all devices. <span class="text-muted">Anytime and anywhere.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/images/pexels-photo-373076.jpeg"/>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Share your files. <span class="text-muted">With friends, family and colleagues.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto"
                 src="~/images/people-coffee-tea-meeting.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Secure Sharing <span class="text-muted">Encryption.</span></h2>
            <p class="lead">All your files are securely saved in our servers.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto"src="~/images/network-2402637_640.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">


    <link rel="stylesheet" href="~/css/subscriptions.css"/>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Secure Share plans</h1>
        <p class="lead">Pick the plan that fits your needs. Personal use or for business. </p>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Share files with up to 10 users</li>
                        <li>5 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-secondary disabled">Your current plan</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Share files with up to 20 users</li>
                        <li>50 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-secondary">Get started</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Share files with up to 150 users</li>
                        <li>1 TB of storage</li>
                        <li>Priority phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-secondary">Contact us</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->