@if (User.Identity.IsAuthenticated)
{
    
<div class="py-2 d-none d-md-inline-block">
    @User.Identity.Name
    <a asp-area="" asp-controller="Account" asp-action="SignOut"> Sign out</a>
</div>
}
else
{
    <a class="py-2 d-none d-md-inline-block"asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a>
}