@if (User.Identity.IsAuthenticated)
{
    
<div class="py-2 d-none d-md-inline-block">
    <span style="color:#999">@User.Identity.Name</span>
    <a asp-area="" asp-controller="Account" asp-action="SignOut"> sign out</a>
</div>
}
else
{
    <a class="py-2 d-none d-md-inline-block"asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a>
}