@if (User.Identity.IsAuthenticated)
{
    if (@User.Identity.Name.Contains("live.com#"))
    {
<span class="navbar-text">
    
    @User.Identity.Name.Substring(9)
    

    <a asp-area="" asp-controller="Account" asp-action="SignOut">sign out</a>
</span>
    }
}
else
{
    <span class="navbar-text">
        <a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a>
    </span>
}