@if (User.Identity.IsAuthenticated)
{
    <span class="navbar-text">
        @User.Identity.Name
        <a asp-area="" asp-controller="Account" asp-action="SignOut">sign out</a>
    </span>
}
else
{
    <span class="navbar-text">
        <a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a>
    </span>
}