<link rel="stylesheet" href="~/css/navbar.css"/>

<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="py-2 d-none d-md-inline-block" asp-area="" asp-controller="Home" asp-action="Dashboard">My Secure Share</a>

    
        @await Html.PartialAsync("_LoginPartial")
    </div>
</nav>